.about {
  text-align: center;
  display: grid;
  justify-content: center;
  padding: 3em 6em;
  background: #fafafa;
}
.contact {
  text-align: center;
  font-size: 1.2em;
  background: #fafafa;
  padding-bottom: 5em;
}
.contact h4 {
  margin: .5em;
}
.contact a {
  text-decoration: none;
  color: black;
}
.resume {
  padding: 3em 10em;
  font-size: 1.2em;
  background: #fafafa;
  max-width: 80%;
}
.projects {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 210px 210px 210px;
  grid-gap: 5em;
  justify-content: center;
  background: #fafafa;
  padding-bottom: 10em;
}
.biography {
  max-width: 30em;
}
.formContainer {
  margin-top: 1em;
}
.formContainer input {
  text-align: center;
}
.formContainer input,
.formContainer textarea {
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000;
}
.submit {
  font-size: 1em;
  width: 4em;
}